@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>CRUD (Create, Read, Update and Delete) application using .NET Entity Framework and ASP.NET</h2>
</div>
