@model IEnumerable<CRUD.Models.Department>

<h1 class="text-center">Departments</h1>

<p class="text-center my-4">
    <a asp-action="Create" class="btn btn-outline-success fs-4 fw-bolder w-50">Create New</a>
</p>
<div class="container-fluid d-flex flex-wrap justify-content-center mx-auto">
    @foreach (var item in Model) {
     <div class="card text-center m-2 border-primary" style="width: 20rem;">
            <img src=@Html.DisplayFor(modelItem => item.ImageUrl) class="card-img-top p-3" style="height: 16rem;" alt=@Html.DisplayFor(modelItem => item.Name)>
         <h3 class="card-title my-2">@Html.DisplayFor(modelItem => item.Name)</h3>
         <div class="my-2">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info my-2 w-75">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger my-2 w-75">Delete</a>
         </div>
     </div>
}
</div>
